@{
    ViewBag.Title = "Información";
    Layout = "~/Views/Shared/_PrincipalSitie.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Acerca de..</h3>
        </div>
    </div>
    
    <div class="row">
        <p>Sistema: Simulador de Perdidas de Envasado</p>
        <p>Siguiendo con los requisitos especificados en el avance número 3 para la catedra de simulación para el ciclo lectivo 2021, vamos a presentar el simulador que fue creado para la empresa Café LaPaie - La Ribera S.R.L.</p>
        <p>
            Este simulador, a través de un ingreso de datos y muestra de resultados, intenta determinar la cantidad de café en sus variedades de molido, torrado, y en crema producidos y sin envasar después de un proceso de tostado mediante una cantidad de dias estipulados. A su vez brinda una recomendación sobre la capacidad que deben tener las bolsas para el proceso de envasado y de esta forma reducir la perdida de productos no envasados al minimo posible.
        </p>
    </div>
</div>
