@{
    ViewBag.Title = "Integrantes";
    Layout = "~/Views/Shared/_PrincipalSitie.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Integrantes</h3>
        </div>
    </div>

    <div class="row">

        <div class="row">
            <div class="col-12 col-md-6 col-lg mb-4">
                <div class="card">
                    <img src="~/Resource/images/juanjo.jpg" class="card-img-top" alt="foto de Juanjo">
                    <div class="card-body py-1">
                        <h5 class="card-title mb-1">Abuin, Juan José</h5>
                        <h7 class="card-title">Legajo: 49816</h7>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg mb-4">
                <div class="card">
                    <img src="~/Resource/images/juanedu.jpg" class="card-img-top" alt="foto de sacha">
                    <div class="card-body py-1">
                        <h5 class="card-title mb-1">Arce, Juan Eduardo</h5>
                        <h7 class="card-title">Legajo: 31428</h7>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg mb-4">
                <div class="card">
                    <img src="~/Resource/images/hugo.PNG" class="card-img-top" alt="foto de sacha">
                    <div class="card-body py-1">
                        <h5 class="card-title mb-1">Charcas, Hugo Alberto</h5>
                        <h7 class="card-title">Legajo: 21658</h7>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg mb-4">
                <div class="card">
                    <img src="~/Resource/images/joseluis.jpg" class="card-img-top" alt="foto de Juanjo">
                    <div class="card-body py-1">
                        <h5 class="card-title mb-1">Díaz, Galvan José Luis</h5>
                        <h7 class="card-title">Legajo: 42167</h7>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg mb-4">
                <div class="card">
                    <img src="~/Resource/images/cami.jpg" class="card-img-top" alt="foto de sacha">
                    <div class="card-body py-1">
                        <h5 class="card-title mb-1">Laguna Racedo, Camila Maria</h5>
                        <h7 class="card-title">Legajo: 37978</h7>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg mb-4">
                <div class="card">
                    <img src="~/Resource/images/martin.jpg" class="card-img-top" alt="foto de sacha">
                    <div class="card-body py-1">
                        <h5 class="card-title mb-1">Gómez, Martín Eduardo</h5>
                        <h7 class="card-title">Legajo: 18424</h7>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
