
@{
    ViewBag.Title = "Materia";
    Layout = "~/Views/Shared/_PrincipalSitie.cshtml";
}

<div class="container">
    <div class="row">
        <h3>Cátedra de Simulación 2021 - Profesores</h3>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg mb-4">
            <div class="card">
                <img src="~/Resource/images/teri.jpg" class="card-img-top" alt="foto de Juanjo">
                <div class="card-body py-1">
                    <h5 class="card-title mb-1">Ingeniera Teri, María Eugenia</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg mb-4">
            <div class="card">
                <img src="~/Resource/images/mario.png" class="card-img-top" alt="foto de sacha">
                <div class="card-body py-1">
                    <h5 class="card-title mb-1">Ingeniero Paredi, Mario Alberto</h5>
                </div>
            </div>
        </div>
    </div>

</div>
